<form method="get" class="row row-cols-auto g-2 align-items-end mb-3">
  <div class="col">
    <label for="id_date" class="form-label small mb-1">Data</label>
    <input
      type="date"
      class="form-control form-control-sm"
      id="id_date"
      name="date"
      value="{{ date|date:'Y-m-d' }}"
      style="width: 160px;"
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-sm btn-primary">
      <i class="bi bi-search me-1"></i> Consultar
    </button>
  </div>
</form>
